@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 347 77% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 347 77% 68%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 347 77% 48%;
    --chart-1: 347 77% 48%;
    --chart-2: 347 77% 68%;
    --chart-3: 347 77% 28%;
    --chart-4: 347 77% 88%;
    --chart-5: 347 77% 95%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 224 71.4% 4.1%;
    --sidebar-primary: 347 77% 48%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 92%;
    --sidebar-accent-foreground: 347 77% 48%;
    --sidebar-border: 0 0% 88%;
    --sidebar-ring: 347 77% 48%;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 0 0% 91%;
    --card: 222 47% 11%;
    --card-foreground: 0 0% 91%;
    --popover: 222 47% 11%;
    --popover-foreground: 0 0% 91%;
    --primary: 347 77% 68%;
    --primary-foreground: 347 77% 98%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 0 0% 91%;
    --muted: 217 33% 17%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 347 77% 48%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 91%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 347 77% 68%;
    --chart-1: 347 70% 50%;
    --chart-2: 347 60% 45%;
    --chart-3: 347 80% 55%;
    --chart-4: 347 65% 60%;
    --chart-5: 347 75% 55%;
    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 0 0% 91%;
    --sidebar-primary: 347 77% 68%;
    --sidebar-primary-foreground: 222 47% 11%;
    --sidebar-accent: 217 33% 17%;
    --sidebar-accent-foreground: 0 0% 91%;
    --sidebar-border: 217 33% 17%;
    --sidebar-ring: 347 77% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
