@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 345 80% 10%;
    --card: 0 0% 100%;
    --card-foreground: 345 80% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 345 80% 10%;
    --primary: 345 65% 30%;
    --primary-foreground: 0 0% 100%;
    --secondary: 345 20% 95%;
    --secondary-foreground: 345 80% 20%;
    --muted: 345, 20%, 95%;
    --muted-foreground: 345 30% 50%;
    --accent: 345 65% 40%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 345 20% 90%;
    --input: 345 20% 90%;
    --ring: 345 65% 30%;
    --chart-1: 345 65% 30%;
    --chart-2: 345 65% 50%;
    --chart-3: 345 65% 20%;
    --chart-4: 345 65% 70%;
    --chart-5: 345 65% 80%;
    --radius: 0.5rem;
    --sidebar-background: 345 20% 98%;
    --sidebar-foreground: 345 80% 10%;
    --sidebar-primary: 345 65% 30%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 345 20% 92%;
    --sidebar-accent-foreground: 345 65% 30%;
    --sidebar-border: 345 20% 88%;
    --sidebar-ring: 345 65% 30%;
  }
  .dark {
    --background: 345 80% 5%;
    --foreground: 0 0% 91%;
    --card: 345 80% 5%;
    --card-foreground: 0 0% 91%;
    --popover: 345 80% 5%;
    --popover-foreground: 0 0% 91%;
    --primary: 345 65% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 345 40% 15%;
    --secondary-foreground: 0 0% 91%;
    --muted: 345 40% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 345 65% 30%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 91%;
    --border: 345 40% 15%;
    --input: 345 40% 15%;
    --ring: 345 65% 40%;
    --chart-1: 345 65% 40%;
    --chart-2: 345 65% 60%;
    --chart-3: 345 65% 30%;
    --chart-4: 345 65% 80%;
    --chart-5: 345 65% 90%;
    --sidebar-background: 345 80% 5%;
    --sidebar-foreground: 0 0% 91%;
    --sidebar-primary: 345 65% 40%;
    --sidebar-primary-foreground: 345 80% 5%;
    --sidebar-accent: 345 40% 15%;
    --sidebar-accent-foreground: 0 0% 91%;
    --sidebar-border: 345 40% 15%;
    --sidebar-ring: 345 65% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
